<h1>Therapist Statistics</h1>
<table mat-table [dataSource]="therapist.patients">
    <caption>Current Patients</caption>
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef scope="col">First</th>
        <td mat-cell *matCellDef="let patient">{{patient.firstName}}</td>
    </ng-container>
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef scope="col">Last</th>
        <td mat-cell *matCellDef="let patient">{{patient.lastName}}</td>
    </ng-container>
    <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef scope="col">Location</th>
        <td mat-cell *matCellDef="let patient">{{patient.location.placeId}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: displayedColumns"></tr>
</table>
