
<div class="schedule-container">
    <h2>Patient Roster</h2>
    <div cdkDropList #patientPoolList="cdkDropList" [cdkDropListData]="patientPool"
         [cdkDropListConnectedTo]="[mondayList]" class="patient-list"
         (cdkDropListDropped)="drop($event)">
        <div class="patient-box" *ngFor="let item of patientPool" cdkDrag>
            {{item.firstName}} {{item.lastName}}
        </div>
    </div>
</div>
<div class="schedule-container">
    <h2>Monday</h2>
    <div cdkDropList #mondayList="cdkDropList" [cdkDropListData]="monday"
         [cdkDropListConnectedTo]="[patientPoolList]" class="patient-list"
         (cdkDropListDropped)="drop($event)">
        <div class="patient-box" *ngFor="let item of monday" cdkDrag>
            {{item.firstName}} {{item.lastName}}
        </div>
    </div>
</div>


